---
http_interactions:
- request:
    method: get
    uri: http://api.glassdoor.com/api/api.htm?action=employers&format=json&q=Twitter&t.k=h4ncLjeQOyE&t.p=33119&useragent=&userip=0.0.0.0&v=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Content-Language:
      - en-US
    body:
      encoding: UTF-8
      string: |-
        {
          "success": true,
          "status": "OK",
          "jsessionid": "0134E7B90D2DC4DB0E9DCBA648FA2537",
          "response": {
            "currentPageNumber": 1,
            "totalNumberOfPages": 1,
            "totalRecordCount": 1,
            "employers": [{
              "id": 100569,
              "name": "Twitter",
              "website": "about.twitter.com",
              "isEEP": true,
              "exactMatch": true,
              "industry": "Internet",
              "numberOfRatings": 270,
              "squareLogo": "http://media.glassdoor.com/sqll/100569/twitter-squarelogo.png",
              "overallRating": 4.1,
              "ratingDescription": "Very Satisfied",
              "cultureAndValuesRating": "4.2",
              "seniorLeadershipRating": "3.7",
              "compensationAndBenefitsRating": "4.2",
              "careerOpportunitiesRating": "3.8",
              "workLifeBalanceRating": "4.0",
              "recommendToFriendRating": "0.8",
              "featuredReview": {
                "id": 6452012,
                "currentJob": false,
                "reviewDateTime": "2015-04-27 12:58:01.417",
                "jobTitle": "Employee",
                "location": "San Francisco, CA",
                "headline": "Great experience",
                "pros": "Working with extremely smart and intelligent people who love their job. Good food. Lots of opportunities to socialize.",
                "cons": "A bad change management. Does PR has to be the worst department everywhere?",
                "overall": 5,
                "overallNumeric": 5
              },
              "ceo": {
                "name": "Dick Costolo",
                "title": "CEO",
                "numberOfRatings": 236,
                "pctApprove": 87,
                "pctDisapprove": 13,
                "image": {
                  "src": "http://media.glassdoor.com/people/sqll/100569/twitter-dick-costolo.png",
                  "height": 200,
                  "width": 200
                }
              }
            }]
          }
        }
  recorded_at: Wed, 29 Apr 2015 00:26:56 GMT
recorded_with: VCR 2.9.3
