@font-face {
    font-family: 'fairviewregular';
    src: url('fairview_regular-webfont.eot');
    src: url('fairview_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fairview_regular-webfont.woff2') format('woff2'),
         url('fairview_regular-webfont.woff') format('woff'),
         url('fairview_regular-webfont.ttf') format('truetype'),
         url('fairview_regular-webfont.svg#fairviewregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.landing-title {
  margin-top: 75px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.landing-title h1{
  font-family: 'fairviewregular'
  font-size: 90px;
}
