<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
<div class="flash-container"></div>
<%= render '/partials/sidebar' %>
<div class="jobs">
  <% if @jobs.empty? %>
    <p class="empty-jobs-message">You have reviewed all jobs. Check the queue for more!</p>
  <% else %>
    <%= render partial: "/partials/jobs", locals: { partial: "jobs_buttons" } %>
  <% end %>
</div>
