<!-- Latest compiled and minified CSS -->
<div class="flash-container"></div>
<%= render '/partials/sidebar' %>
<div class="jobs">
  <%= render "/partials/jobs" %>
</div>
<%= render '/partials/footer' %>
