<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

<div class=col-md-2">
</div>
<div class="col-md-8 job">
  <h1><%= Job.first.position%></h1>
  <%= time_tag(Job.first.posting_date) %>
  <p><%= Job.first.description %></p>
  <%= Job.first.location %>
</div>
<div class=col-md-2">
</div>
