<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
<div class="row">
  <div class="col-md-2">
  </div>
  <div class="col-md-8 job">
    <%= render 'partials/job_listing' %>
  </div>
</div>
<div class="col-md-2">
</div>
</div>
