<table class="jobs-table">
  <% @jobs.each do |job| %>
    <tr class="index-job">
      <td class="index-job-detail">
        <h5><strong><%= link_to job.position, "" %></strong></h5>
      </td>
      <td class="index-job-detail">
        <h5><%= job.company.name %></h5>
      </td>
      <td class="index-job-detail">
        <h5><%= job.location %></h5>
      </td>
      <td class="index-job-detail">
        <h5><%= job.posting_date.strftime("%m/%d") %></h5>
      </td>
      <td>
        <div class="btn-group btn-group-sm" role="group">
          <button class="btn btn-success"><i class="fa fa-star fa-lg"></i></button>
          <button class="btn btn-danger"><i class="fa fa-trash-o fa-lg"></i></button>
        </div>
      </td>
    <% end %>
  </tr>
</table>
