<td class="index-job-detail">
  <div class="btn-group btn-group-sm" role="group">
    <button id="like" class="btn btn-success">
      <i class="fa fa-star fa-lg"></i> Like
    </button>
    <button class="btn btn-danger">
      <i class="fa fa-trash-o fa-lg"></i> Remove
    </button>
  </div>
</td>
