<div class="container">
  <div id="sidebar">
    <div class="sidebar-content">
      <div class="sidebar-headers">
        <ul>
          <li><a href="#"><h4>Relevant Jobs</h4></a></li>
          <li><a href= <%= my_jobs_path %>><h4>My Jobs</h4></a></li>
          <li><a href="/jobs"><h4>All Jobs</h4></a></li>
          <br>
          <form class="form-inline top-search shadowed">
            <input type="text" id="search-bar" class="form-control" placeholder="Search for anything...">
          </form>
          <br>
          <div class="tags">
            <% @tags.each do |tag| %>
              <label>
                <input type="checkbox" rel="<%= tag.split(' ').join %>" />
                <%= tag %>
              </label><br>
            <% end %>
          </div>
        </ul>
      </div>
    </div>
  </div>
</div>
