<td class="index-job-detail">
  <div class="btn-group btn-group-sm" role="group">
    <button class="unlike btn btn-danger">
      <i class="fa fa-trash-o fa-lg"></i> Unlike
    </button>
  </div>
</td>

