<div class="landing-page">
  <div class="landing-title">
    <h1>Job Basket</h1>
  </div>
  <div class="turing-image">
    <%= image_tag('turing-logo-copy.png', width: '15%', height: '15%') %>
  </div>
  <% if current_user.nil? %>
    <%= link_to "/auth/github" do %>
      <div class="login-button">
        LOGIN
      </div>
    <% end %>
  <% else %>
    <%= link_to jobs_path do %>
      <div class="login-button">
        JOBS
      </div>
    <% end %>
  <% end %>
</div>

