<div class="landing-title">
  <h1>Job Basket</h1>
</div>
<div class="turing-image">
  <%= image_tag('turing_t_logo.png') %>
</div>
<%= link_to '#' do %>
<div class="login-button">
  LOGIN
</div>
<% end %>
