<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
<div class="flash-container"></div>
<%= render '/partials/sidebar' %>
<div class="jobs">
  <%= render "/partials/my_jobs" %>
</div>
