<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
<div class="flash-container"></div>
<%= render '/partials/sidebar' %>
<div class="jobs">
  <% if @jobs.empty? %>
    <div class="empty-jobs-message">You don't have any jobs yet. Go like some jobs!</div>
  <% else %>
    <%= render partial: "/partials/jobs", locals: { partial: "unlike_jobs_buttons" } %>
  <% end %>
</div>
