@font-face {
  font-family: 'fairviewregular';
  src: url('fairview_regular-webfont.eot');
  src: url('fairview_regular-webfont.eot') format('embedded-opentype'),
  url('fairview_regular-webfont.woff2') format('woff2'),
  url('fairview_regular-webfont.woff') format('woff'),
  url('fairview_regular-webfont.ttf') format('truetype'),
  url('fairview_regular-webfont.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

.landing-title {
  font-family: 'fairviewregular';
  margin-top: 50px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  width: 100%;
  font-size: 150px;
  color: white;
}
a {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:active {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

.login-button {
  padding: 15px 50px;
  font-family: "aktiv-grotesk-std", sans-serif;
  font-size: 12px;
  font-weight: 700;
  text-decoration: none;
  color: white;
  border: solid 1px white;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 90px;
  width: 50px;
  text-align: center;
}

.login-button:hover{
  padding: 15px 50px;
  font-family: "aktiv-grotesk-std", sans-serif;
  font-size: 12px;
  font-weight: 700;
  text-decoration: none;
  color: #05c2d1;
  border: solid 1px #05c2d1;
  margin-left: auto;
  margin-right: auto;
  width: 50px;
  text-align: center;
}

.turing-image {
  text-align: center;
}
