.jobs {
  float: right;
  width: 80%;
}

table {
  width: 100%;
}

.index-job {
  width: 100%;
  border: solid;
  border-color: black;
  border-width: 1px;
}

.index-job:hover {
  background-color: #BDC3C7;
}

.index-job-detail {
  padding-left: 10px;
  padding-right: 40px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.job-buttons {
  display: block;
}

.jobs-table {
  margin-bottom: 35px;
}

.added-job {
  color: #2ECC71;
}
