<table>
  <% @jobs.each do |job| %>
    <tr class="index-job">
        <td class="index-job-detail">
          <h5><strong><%= link_to job.position, "" %></strong></h5>
        </td>
        <td class="index-job-detail">
          <h5><%= job.company.name %></h5>
        </td>
        <td class="index-job-detail">
          <h5><%= job.location %></h5>
        </td>
        <td class="index-job-detail">
          <h5><%= job.posting_date.strftime("%m/%d") %></h5>
        </td>
      <% end %>
  </tr>
</table>
