<header class='mod-header'>
  <div class='layout-wrap'>
    <h1><a href="http://turing.io">Turing School of Software & Design</a></h1>
    <nav>
      <ul>
        <li><a href="/">Dashboard</a></li>
        <li><a href="/all/">Preferences</a></li>
        <li><a href="http://turing.io/">Logout</a></li>
      </ul>
    </nav>
  </div>
</header>
