<header class='mod-header'>
  <div class='layout-wrap'>
    <h1><a href="http://turing.io">Turing School of Software & Design</a></h1>
    <nav>
      <ul>
        <li><a href="/">Today</a></li>
        <li><a href="/all/">All Outlines</a></li>
        <li><a href="http://turing.io/">Main Site</a></li>
      </ul>
    </nav>
  </div>
</header>
